.poster-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.poster-container {
  --poster-height: 50rem;
  --poster-width: calc(var(--poster-height) * 0.70625);
  width: var(--poster-width);
  height: var(--poster-height);
  box-shadow: 1rem 1rem 1rem var(--black);
  overflow: hidden;
  padding: 1rem;
}

.poster-content {
  color: var(--white);
}
